body{
    background-image:url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    text-align: center;
}
h1{
    margin-top: 30%;
    margin-left: 20%;
    font-size: 80px;
    color: darkorange;
}
p{
    margin-left: 20%;
    margin-top: 15%;
    font-size: 35px;
    color: darkred;
}
header{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
main{
    margin: 20px;
    padding: 30px;
    border-radius: 25%;
    color: darkkhaki;
    text-decoration: darkolivegreen;
}
div{
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 26px;
    border-radius: 10%;
}