article{
    background-color: aqua;
    margin: 16px;
    padding: 26px;

}
h1{
    color: brown;
    margin: 10px;
    padding: 24px;
}
p{
    margin: 10px;
    padding: 24px;
}
div + p {
    background-color: darkblue;
}
